---
interface Props {
  id?: string;
  wide?: boolean;
}

const { id, wide = false } = Astro.props;
---

<section id={id} class="py-20 px-6">
  <div class:list={['mx-auto', wide ? 'max-w-5xl' : 'max-w-3xl']}>
    <slot />
  </div>
</section>
